.show-run-wanwu-result {
  width: 100%;
  height: calc(100vh - 20px);
  min-height: 500px;
  padding: 0 8px 0 16px;
  margin: 10px 10px 10px 0;
  position: relative;
  z-index: 100;

  background: var(--coz-bg-plus, rgba(252, 252, 255, 100%));
  border-radius: 8px;

  .result-loading {
    width: 100%;
    height: calc(100vh - 20px);
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}