.test-form-v2-wrapper-wanwu {
  width: 100%;
  height: 100%;
}

.test-form-sheet-header-v2 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 48px;
  min-height: 48px;
  padding: 0 8px 0 16px;

  background: var(--coz-bg-plus, rgba(252, 252, 255, 100%));
  border-bottom: 1px solid var(--coz-stroke-primary);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;


  .header-title-v2 {
    font-size: 16px;
    font-weight: 500;
  }
}

.test-form-sheet-header-v2-wanwu.test-form-sheet-header-v2 {
  justify-content: flex-start;
}

.test-form-v2 {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  background: var(--coz-bg-plus, rgba(252, 252, 255, 100%));
  border: 1px solid #e6e8f2;
  border-radius: 8px;
}

.test-form-content {
  position: relative;

  overflow-y: auto;
  flex: 1;

  width: 100%;
  height: 100%;
}

.test-form-sheet-footer-v2 {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 56px;

  background: var(--coz-bg-plus, rgba(252, 252, 255, 100%));
  border-top: 1px solid var(--coz-stroke-primary);
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;

  button {
    width: calc(100% - 32px);
  }
}
