.workflow-api-key {
  display: flex;
  align-items: center;
  font-size: 12px;

  .api-key-content {
    padding: 6px 10px;
    box-shadow: 1px 2px 2px #ddd;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    align-items: center;
    color: rgba(var(--coze-fg-3), var(--coze-fg-3-alpha));
    margin-right: 10px;
  }

  .api-root-url-title {
    color: rgba(var(--coze-brand-5), 1);
    border-radius: 6px;
    border: 1px solid rgba(var(--coze-brand-5), 1);
    padding: 2px 4px;
    margin-right: 5px;
  }
}