.test-form-wrapper-wanwu {
  width: 100%;
  height: 100%;
}
.test-form-wanwu {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;

  background: var(--coz-bg-max);
  border: 1px solid #e6e8f2;
}
